@import '../../theme';

.bread-crumb {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: calculateRem($margin);

  &__nodes {
    margin-left: calculateRem(5px);
    font-weight: bold;
    color: $black;

    &.empty {
      color: $black;
      background: $gray;
    }
  }
}